.env
__pycache__/
.DS_Store
.venv/
.idea/
.vscode/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
venv/
.env.prod

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Flutter
.metadata
.packages
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/key.properties
android/local.properties
android/.gradle
android/app/build
android/captures/

# iOS
ios/Pods/
ios/Podfile.lock
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/Debug.xcconfig
ios/Flutter/Release.xcconfig
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/Runner.xcworkspace/

# Linux
linux/flutter/ephemeral

# macOS
macos/Flutter/ephemeral

# Windows
windows/flutter/ephemeral

